*{
    margin: 0;
    padding: 0;
    border: 0;
}
button{
    background-color: white;
    cursor: pointer;
    display: block;
}
.menu{
    position: fixed;
    width: 100%;
    background-color: black;
    padding: 5px;
    text-align: right;
    z-index: 1;
}
.add_employe{
    margin: 10px;
    color: white;
    background-color: black;
    font-size: large;
    cursor: pointer;
    /* width: fit-content; */
    margin-right: 20px;
    display: inline;
}
.container{
    position: absolute;
    height: 80%;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    width: 60%;
}
.head_id,.head_name{
    font-size: 20px;
    color: white;
    padding: 2px;

}
.head_id{
    float: left;
}
 .head_name{
    width: 100%;
    background-color: red;
    color: white;
    text-align: right;
} 
.employ_id,.employe_name{
    display: inline;
    font-size: 20px;
}
.employ_id{
    float: left;
}
/*.employe_name{
    float: right;
} */
.employ_button{
    /* border: 1px solid gray; */
    padding: 5px;
    margin: 5px;
    width: max-content;
    width: 100%;
    text-align: right;
    border-radius: 5px;
}
.employ_button:hover{
    transform: scale(1.05);
}
.employ_button:nth-child(even){
    background-color:#999;
    color: honeydew;
}
.add_form{
    position: absolute;
    background-color: lawngreen;
    right:10px;
    display: none;
    padding: 5px;
    border-radius: 15px;
}
.add_form input{
    display: block;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
}
.add{
    margin: auto;
    background-color: black;
    color: blanchedalmond;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 3px;
}
.add:hover{
    transform: scale(1.2);
}
.add:active{
    color: black;
    background-color: blanchedalmond;
}